<div class="form-container">
  <form
    class="form"
    action="/create"
    method="post"
    enctype="multipart/form-data"
  >
    <input type="text" name="name" placeholder="Name" />
    <input type="number" name="duration" placeholder="duration" />
    <input
      type="number"
      step=".01"
      name="difficulty"
      placeholder="difficulty"
    />
    <input type="number" name="price" placeholder="price" />

    <input
      id="photo"
      type="file"
      accept="image"
      name="photo"
      placeholder="imageCover"
    />
    <label for="photo"> Choose Cover</label>

    <input type="text" name="images" placeholder="images" />
    <input type="text" name="story" placeholder="Story" />
    <input type="date" name="cratedAt" placeholder="cratedAt" />
    <br />
    <div class="btn-container">
      <button class="btn" type="submit">Create</button>
    </div>
  </form>
</div>
