<div class="header-container">
  <div class="link-container">
    <a href="/homepage/overview">HOME</a>
    <a href="/tours/all">alltours</a>
    <a href="/create/new">CreateTour</a>
  </div>

  <div class="link-container">
    <a href="/login">Login</a>
    <a id="signUp" href="/users/new">signUp</a>
    <a class="hidden" href="/logout">Logout</a>
  </div>
</div>
