<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOMEPAGE</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <header><%- include("partials/header") %></header>
  <body>
    <main>
      <div class="bg-image"></div>
      <div class="content">
        <div>  <h1>Where to?</h1>

          <h2>Do more with our Tours</h2></div>
      
      </div>
     
        </form>
      </div>
    </main>
  </body>
</html>
